{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "trailingComma": "all",
  "requirePragma": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf"
}