@font-face {
	font-family: 'NNSQUAREROUNDR';
	src: url('/src/assets/fonts/NanumSquareRoundR.ttf');
}

html * {
	font-family: 'NNSQUAREROUNDR' !important;
}

body {
	background: whitesmoke;
	margin: 0px;
}
