@font-face {
	font-family: 'NNSQUAREROUNDR';
	src: url('/src/assets/fonts/NanumSquareRoundR.ttf');
}

html * {
	font-family: 'NNSQUAREROUNDR';
}

body {
	margin: 0px;
}

.uploadModal {
	left: 50%;

	padding: 20px;
	position: absolute;

	top: 50%;
	transform: translate(-50%, -50%);
}
