@font-face {
  font-family: "NNSQUAREROUNDR";
  src: url("/src/assets/fonts/NanumSquareRoundR.ttf");
}

html * {
  font-family: "NNSQUAREROUNDR" !important;
}

body {
  margin: 0px;
}

.uploadModal {
  left: 50%;

  padding: 20px;
  position: absolute;

  top: 50%;
  transform: translate(-50%, -50%);
}

.inform {
  align-items: center;

  background: rgba(255, 255, 255, 0.6);
  box-sizing: unset;

  color: #0288d1;

  display: flex;

  flex-direction: column;
  font-size: 16px;
  font-family: "NNSQUAREROUNDR" !important;

  height: 100%;

  justify-content: center;

  position: absolute;

  text-align: center;

  width: 100%;

  z-index: 2147483648;
}

.loading {
  box-sizing: unset;

  border: 2px solid white;
  border-right-color: #0288d1;
  border-top-color: #0288d1;
  border-radius: 100%;

  height: 16px;

  margin: 5% auto;

  width: 16px;

  -webkit-animation: spin 400ms infinite linear;
  animation: spin 400ms infinite linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
